## Compiled Binary Files ##
bin/*

## Compiled Source Files ##
*.o
*.so

## External Library Files ##
lib/*

## Package Files ##
*.tar
*.zip
*.rar

## Logs Files ##
*.log
*.gdb

## OS Files ##
*.swp
*.swo
*.*.sw*
